;; Helper tasks for working with Ansible

{:tasks
 {:requires ([babashka.fs :as fs])

  clean {:doc "Clean up temporary files"
         :task (when (fs/directory? ".ansible") (fs/delete-tree ".ansible"))}

  init {:doc "Pull requirements from Ansible Galaxy"
        :task (shell "ansible-galaxy install -r requirements.yml")}
  
  check {:doc "Check main playbook"
         :task (shell "ansible-playbook --check main.yml")}
 
  install-base {:doc "Install base packages"
                :task (shell "ansible-playbook main.yml --tags base")}
 }}
